/* Add a black background color to the top navigation */
.topnav {
    background-color: #EEF2F6;
    overflow: hidden;
  }
  
/* Style the links inside the navigation bar */
.topnav div {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#logo {
    height: 32px;
    border-radius: 8px;
}